body{
  background-image:url("imagenes/fondocbtis.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
 }
 .card {
    width: 100%;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
@media  (max-widht: 756px){
  .card {
    display: none;
  }
     
}
@media  (max-widht: 756px){
  img {
    display: none;
  }
     
}
@media  (max-widht: 756px){
  body {
    display: none;
  }
     
}


